@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.logo{
    width: 105px;
    background-image: linear-gradient(to top left, rgb(255, 60, 0) , rgb(209, 52, 157));
}

.diviser{
    background-color: rgb(255, 225, 57);
    top: 48px;
}

.childreen{
    top:100px;
}