@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.logo{
    width: 105px;
    background-image: linear-gradient(to top left, rgb(255, 60, 0) , rgb(209, 52, 157));
}

.diviser{
    background-color: rgb(255, 225, 57);
    top: 48px;
}

.childreen{
    padding-top:140px;
}

.main-one {
    
    background-image: url("images/microsoft.jpg");
  }
  
.main-one:after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-image: linear-gradient(to bottom, transparent 0%, black 100%);
}